* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrap {
  height: 100%;
  overflow: hidden;
}
.rAnimation {
  position: absolute;
  width: 130px;
  height: 130px;
  background: url(E:\HtmlLearnning\HTML5\study\20190918.animation自行车\img\bike.png) no-repeat;
  background-position: 0 0;
  animation: bike 10s steps(32, end) infinite, translate 10s linear infinite;
}
@keyframes bike {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -4160px;
  }
}
@keyframes translate {
  0% {
    left: 0;
    top: 0;
    transform: rotateY(180deg) rotateZ(-90deg);
  }
  20% {
    left: 0;
    top: calc(100% - @h);
    transform: rotateY(180deg) rotateZ(-90deg);
  }
  25% {
    left: 10%;
    top: calc(100% - @h);
    transform: rotateY(180deg) rotateZ(0deg);
  }
  50% {
    left: calc(100% - @w);
    top: calc(100% - @h);
    transform: rotateY(180deg) rotateZ(0deg);
  }
  55% {
    left: calc(100% - @w);
    top: calc((100% - @h ) * 0.9);
    transform: rotateY(180deg) rotateZ(90deg);
  }
  70% {
    left: calc(100% - @w);
    top: 0;
    transform: rotateY(180deg) rotateZ(90deg);
  }
  75% {
    left: calc((100% - @w ) * 0.9);
    top: 0;
    transform: rotateY(180deg) rotateZ(180deg);
  }
  95% {
    left: calc((100% - @w ) * 0.1);
    top: 0;
    transform: rotateY(180deg) rotateZ(180deg);
  }
  100% {
    left: 0;
    top: 0;
    transform: rotateY(180deg) rotateZ(270deg);
  }
}
